/* Skin Override CSS - Boxed */

#outer {
	width: 1098px;
	margin: 30px auto 30px auto;
	padding: 0;
	overflow: hidden;
	
	background: #fff;
	box-shadow: 0 0 2px #eee;
	-moz-box-shadow: 0 0 2px #eee;
	-webkit-box-shadow: 0 0 2px #eee;
}